@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply overflow-x-hidden;
}

body {
  @apply bg-white text-slate-900 antialiased dark:bg-slate-900 dark:text-slate-100;
}

.section-muted {
  @apply bg-gray-50 dark:bg-slate-800;
}
